footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-menu ul li a {
    color: #2F281E;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    text-decoration: none;
    a:hover {
        text-decoration: underline;
    }
}
